@model OurPlace.API.Models.CompletedTask

@{
    string mapId = "map-" + Model.Id;

}

<div class="card">
    <div class="card-head">
        <img src='@Model.EventTask.TaskType.IconUrl' class="task-icon" />
        <h3 class="card-title">@Model.EventTask.Description</h3>
    </div>

    <div class="card-uploaded">
        <div class="card-content">
            <div id="@mapId" style="width: 100%; height: 400px;"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    @{
        <text>

    var jMapId = "@mapId";
    var cLocs = [];
    var jLocs = [];

    if('@Model.JsonData' != '')
    {
        cLocs = JSON.parse('@Html.Raw(Model.JsonData)');
    }

    for (var i = 1; i <= cLocs.length; i++)
    {
        jLocs.push(["Point " + i, cLocs[i - 1]["Lat"], cLocs[i - 1]["Long"]]);
    }

    var centre = null; 

    if (jLocs.length == 0) {
        centre = { lat: 54.9735161, lng: -1.6279099};
    }
    else {
        centre = { lat: jLocs[0][1], lng: jLocs[0][2] };
    }

    var map = new google.maps.Map(document.getElementById(jMapId), {
        zoom: 17,
        center: centre,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();
    var marker;

    for (var i = 0; i < jLocs.length; i++)
    {
        marker = new google.maps.Marker({
            position: new google.maps.LatLng(jLocs[i][1], jLocs[i][2]),
            map: map
        });

        google.maps.event.addListener(marker, 'click', (function (marker, i)
        {
            return function ()
            {
                infowindow.setContent(jLocs[i][0]);
                infowindow.open(map, marker);
            }
        })(marker, i));
    }
    </text>
    }
</script>